:root {
    --light-cyan: hsla(187, 100%, 91%, 1);
    --honolulu-blue: hsla(203, 94%, 39%, 1);
    --oxford-blue: rgb(13, 28, 80);
    --indian-red: hsla(0, 70%, 61%, 1);
    --bittersweet: hsla(8, 100%, 68%, 1);
    --sunglow: hsla(45, 94%, 61%, 1);
    --bright-pink-crayola: hsla(353, 84%, 63%, 1);
    --selective-yellow: hsla(42, 95%, 57%, 1);
    --creamcicle: rgb(248, 170, 81);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.container {
    max-width: 1000px;
}

#root {
    width: 100%;
    height: 100dvh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}


/* Navbar */

#navbar {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: var(--honolulu-blue);
    box-shadow: 5px 5px 15px black;
}

#nav-items-container {
    height: 60px;
    width: 100%;
    max-width: 1000px;
    align-items: end;
    padding-bottom: 1rem;
}

#nav-items-container ul {
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    color: white;
}

#sun-moon-container {
    position: absolute;
    z-index: 5;
}


/* Hero */

#hero-section {
    background: linear-gradient( var(--honolulu-blue), var(--light-cyan));
    padding-top: 100px;
}


/* Skills */

#skills-section {
    background: linear-gradient( var(--light-cyan), var(--bittersweet));
}

#skills-container {}

.icon-card {}

.icon-card-img {}

.icon-card-text {}


/* About */

#about-section {
    background: linear-gradient( var(--bittersweet), var(--honolulu-blue));
}


/* Projects */

#projects-section {
    background: linear-gradient( var(--honolulu-blue), var(--oxford-blue));
}


/* Contact */

#contact-section {
    background: var(--oxford-blue);
}