:root {
    --light-cyan: hsla(187, 100%, 91%, 1);
    --honolulu-blue: hsla(203, 94%, 39%, 1);
    --oxford-blue: rgb(13, 28, 80);
    --indian-red: hsla(0, 70%, 61%, 1);
    --bittersweet: hsla(8, 100%, 68%, 1);
    --sunglow: hsla(45, 94%, 61%, 1);
    --bright-pink-crayola: hsla(353, 84%, 63%, 1);
    --selective-yellow: hsla(42, 95%, 57%, 1);
    --creamcicle: rgb(248, 170, 81);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
}

.scroll {
    scroll-snap-type: y mandatory;
}

body {
    width: 100%;
}

main {
    scroll-snap-type: y mandatory;
    flex-direction: column;
    margin: auto;
    width: 100%;
    scroll-behavior: smooth;
}

#root {
    width: 100%;
    height: 100dvh;
}

.container {
    max-width: 1000px;
    justify-content: space-between;
    border: 3px dotted red;
    text-align: center;
    z-index: 5;
    height: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    z-index: 6;
}

section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    /* scroll-snap-stop: always; */
    z-index: 6;
    padding: 5rem;
}

.scroll-snap {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}


/* .parallax {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: stack;
    place-items: center;
    scroll-snap-align: start;
} */

.clouds-1,
.clouds-2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.clouds-1 {
    transform: translateZ(-30px) scale(3);
    z-index: 3;
}

.clouds-2 {
    transform: translateZ(-5px) scale(1.5);
    z-index: 3;
    width: 60%;
}

.small-cloud {
    background-color: var(--bright-pink-crayola);
    height: 50px;
    width: 500px;
}

.big-cloud {
    background-color: var(--sunglow);
    height: 100px;
    width: 1000px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

header {
    margin: 2rem;
    font-size: 5rem;
}


/* Navbar */

#navbar {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: var(--honolulu-blue);
    box-shadow: 5px 5px 15px black;
    z-index: 9;
}

#nav-items-container {
    height: 60px;
    width: 100%;
    max-width: 1000px;
    align-items: end;
    padding-bottom: 1rem;
}

#nav-items-container ul {
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    color: white;
}

#sun-moon-container {
    position: absolute;
    z-index: 5;
}


/* Hero */

#hero-section {
    background: linear-gradient( var(--honolulu-blue), var(--light-cyan));
    padding-top: 100px;
}


/* Skills */

#skills-section {
    background: linear-gradient( var(--light-cyan), var(--bittersweet));
}

#skills-section .container {
    min-width: 600px;
    justify-content: space-between;
    padding: 2rem;
}

#skills-bottom {
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}

#skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem;
    color: white;
}

.icon-card {
    gap: .5rem;
    flex-direction: column;
    font-weight: 900;
}

.icon-card-img {}

.icon-card-text {}


/* About */

#about-section {
    background: linear-gradient( var(--bittersweet), var(--honolulu-blue));
}


/* Projects */

#projects-section {
    background: linear-gradient( var(--honolulu-blue), var(--oxford-blue));
}


/* Contact */

#contact-section {
    background: var(--oxford-blue);
}