:root {
    --mint-green: #defffcff;
    --alice-blue: ;
    --true-blue: #3066beff;
    --wine: #773344ff;
    --thistle: #e7c8ddff;
    --cerulean: #006989ff;
    --berkeley-blue: #12355bff;
    --goldenrod: #daa520;
    --dogwood-rose: #dc136cff;
    --light-green: #61e786ff;
    --off-white: rgb(230, 250, 255);
    --pale-yellow: F0F0C9;
    --rich-black: hsla(207, 95%, 8%, 1);
    --imperial-red: hsla(352, 93%, 53%, 1);
    --turquoise: hsla(172, 80%, 59%, 1);
    --baby-powder: hsla(100, 100%, 99%, 1);
    --orange-peel: hsla(35, 100%, 55%, 1);
    /* /////////////// */
    --neutral-color: rgb(222, 223, 224);
    --text-color: #3066bef;
    --menu-body: rgba(219, 237, 255, 0.5);
    --menu-body-full: rgba(219, 237, 255, 1);
    --menu-border: #daa520;
    --male-body: rgba(0, 106, 138, 0.5);
    --male-body-full: rgba(0, 106, 138, 1);
    --male-border: #daa520;
    --female-body: rgba(118, 50, 67, 0.5);
    --female-body-full: rgba(118, 50, 67, 1);
    --female-border: #daa520;
    --child-body: rgba(238, 232, 170, 0.5);
    --child-body-full: rgba(238, 232, 170, 1);
    --font: 'Noto Serif', serif;
}

#body-container-fe13 {
    height: 100dvh;
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: cover;
    font-family: var(--font);
    background-image: url('./assets//fe_child//title//fea-characters-poster.jpg');
    margin: 0 auto;
}

#root-fe13 {
    width: 100%;
    max-width: 1080px;
    display: grid;
    padding: 1rem;
    text-align: center;
    color: var(--text-color);
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h5,
h4,
h3,
p {
    padding: 0;
    margin: 0;
}

select {
    padding: 5px;
}

#body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100%;
    width: 100%;
}

#body-left {
    gap: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#body-right {
    height: 100%;
}


/* global */

.sprite-img {
    height: 25px;
    margin: 1px;
    object-fit: contain;
}

#parent-select .sprite-img {
    height: 35px;
}

.sprite-img:hover {
    cursor: pointer;
}

.sprite-img-skill {
    height: 20px;
    margin: 1px;
    object-fit: contain;
}

.sprite-img-skill:hover {
    cursor: pointer;
}

.sprite-container {
    display: inline-block;
}

.sprite-container:hover .details {
    visibility: visible;
}

.sprite-container {
    display: inline-block;
}

.sprite-container:hover .details {
    visibility: visible;
}

.red-border {
    border: 3px solid red;
}

.icons-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 2px;
}

.details {
    visibility: hidden;
    display: flex;
    position: absolute;
    max-width: 250px;
    font-size: 12px;
    background-color: bisque;
    padding: 5px;
    border-radius: 3%;
    flex-direction: column;
    color: black;
    transform: translate(30px, -20px);
}

.details p {
    font-weight: 900;
}

.grayed {
    filter: contrast(0%);
    pointer-events: none;
}


/* pairing and unit selector */

.name-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 200px;
}

#header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--menu-border);
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--menu-body);
}

.unit-select {
    display: flex;
}

.pairings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    padding: 0 3px 0 3px;
    height: auto;
}

#saved-pairings {
    border: 5px solid var(--menu-border);
    border-radius: 5px;
    height: 100%;
    background-color: var(--menu-body);
}

#parent-select {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn {
    width: 90%;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
}

.btn:hover {
    filter: brightness(120%);
    border: none;
}

.btn-green {
    background-color: var(--light-green);
}

.btn-blue {
    background-color: var(--true-blue);
}

.btn-red {
    background-color: var(--dogwood-rose);
    border: transparent;
    border-radius: 5px;
    padding: 10px;
}


/* unit card */

.p-hover {
    border: 3px solid transparent;
}

.p-hover:hover {
    border: 3px solid var(--female-border);
}

.unit-details {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: auto;
    width: 100%;
    background-color: var(--menu-body-full);
    border: 3px solid var(--menu-border);
    margin-top: 25px;
    color: var(--berkeley-blue);
    text-align: center;
}

.portrait-container {
    min-width: 200px;
    width: 100%;
    height: 250px;
    padding: 10px;
    overflow: hidden;
}

.portrait {
    object-fit: contain;
    object-position: top;
    width: 100%;
    height: 100%;
}

#parent-pairing-container {
    /* width: 950px; */
    display: flex;
    min-height: 550px;
    height: 100%;
}

.parent-unit {
    display: flex;
    height: 50%;
}

.parent-container {
    display: flex;
    padding: 5px;
    gap: 5px;
    color: var(--text-color);
    align-items: center;
    border-radius: 5px;
    margin: 0;
}

#desk-parents {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 5px;
}

#parents-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.absent-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.father-container {
    background-color: var(--male-body);
    border: 5px solid var(--male-border);
}

.mother-container {
    background-color: var(--female-body);
    border: 5px solid var(--female-border);
}

.children-container {
    gap: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.child-unit {
    padding: 5px;
    border: 6px solid var(--menu-border);
    background-color: var(--child-body);
    height: 100%;
    width: 100%;
}

#child-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.kid-box {
    height: 50%;
    width: 100%;
}

#child-stats {
    display: flex;
}

.unit-card-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.unit-card-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-shrink: 0;
}

.btn-tabs {
    font-size: 12px;
    position: absolute;
    margin-left: 5px;
}

.tab {
    border-top: 3px solid var(--menu-border);
    border-right: 3px solid var(--menu-border);
    border-left: 3px solid var(--menu-border);
    border-bottom: 5px solid var(--menu-body-full);
    padding: 3px;
    background-color: var(--menu-body-full);
    border-radius: 5px 5px 0 0;
}

.tab-bottom-border {
    border-bottom: 3px solid var(--menu-border);
}

.baby-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 5px solid var(--menu-border);
    background-color: var(--child-body);
}


/*  */

.parent-btns {
    display: none;
}

.child-btn {
    display: none;
}

.mobile-parent-select-container {
    display: none;
}

#logo-mobile {
    display: none;
}

#mobile-parents {
    display: none;
}

.baby-message-mobile {
    display: none;
}

.child-con {
    display: block;
}

.child-con-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #body-container-fe13 {
        background-image: none;
        background-color: var(--menu-body-full);
        width: 100vw;
    }
    #body-container-fe13 {
        flex-direction: column;
    }
    #root-fe13 {
        max-width: 100vw;
        margin: 0;
        padding: 5;
    }
    .portrait-container {
        display: none;
        width: 0px;
        height: 0px;
        min-width: none;
    }
    .portrait {
        display: none;
    }
    #saved-pairings {
        display: none;
    }
    #logo-mobile {
        max-width: none;
        width: 75%;
    }
    #mobile-parents {
        display: block;
        width: 100%;
    }
    #desk-parents {
        display: none;
    }
    .baby-message {
        display: none;
    }
    .baby-message-mobile {
        display: block;
    }
    .child-con-mobile {
        display: flex;
    }
    #logo-mobile {
        display: block;
    }
    #parent-select {
        display: none;
    }
    #parents-selected {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #parent-pairing-container {
        flex-direction: column;
        min-width: 100%;
        min-height: none;
    }
    #saved-pairings-mobile {
        border: 5px solid var(--menu-border);
        position: absolute;
        z-index: 5;
        right: 0;
        top: 0;
        background-color: var(--menu-body-full);
        width: 50%;
        height: 100%;
    }
    .parent-unit {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #child-section {
        width: 100%;
        display: none;
        padding: 1rem;
    }
    .parent-unit {
        flex-direction: column;
        width: 100%;
    }
    .child-unit {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .child-con-mobile {
        padding: 1rem;
    }
    .unit-details {
        max-width: none;
        padding: 3px;
        width: 100%;
        margin: 3px;
    }
    .icons-container {
        justify-content: space-between;
        padding: 5px;
    }
    .unit-card-right img {
        content: '';
        width: 20%;
        border: 1px solid transparent;
    }
    .unit-card-right select {
        width: 75%;
        background-color: var(--true-blue);
        color: white;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .father-container {
        background-color: var(--male-body-full);
    }
    .mother-container {
        background-color: var(--female-body-full);
    }
    .child-unit {
        background-color: var(--child-body-full);
    }
    .baby-message {
        width: 100%;
        height: 100%;
    }
    .absent-parent {
        width: 90vw;
        height: 250px;
    }
    /* new for mobile size */
    .parent-btns,
    .child-btns {
        display: flex;
        gap: 5px;
    }
    .mobile-tab {
        border-top: 3px solid var(--menu-border);
        border-right: 3px solid var(--menu-border);
        border-left: 3px solid var(--menu-border);
        border-bottom: 3px solid var(--goldenrod);
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        transform: translateY(5px);
        width: 80px;
        height: 30px;
        z-index: 4;
    }
    .mobile-tab:hover {
        cursor: pointer;
    }
    .btn-father {
        background-color: var(--male-body-full);
    }
    .father-border {
        border-bottom: 7px solid var(--male-body-full);
    }
    .mother-border {
        border-bottom: 7px solid var(--female-body-full);
    }
    .child-border {
        border-bottom: 5px solid var(--menu-border);
    }
    .btn-mother {
        background-color: var(--female-body-full);
    }
    .btn-child {
        background-color: var(--child-body-full);
        transform: translateY(11px);
    }
    select:hover {
        cursor: pointer;
    }
    .mobile-parent-select-container {
        display: flex;
        width: 100%;
        padding: 0 5px 0 5px;
        gap: 5px;
    }
    .mobile-parent-select {
        height: 30px;
        width: 100px;
        border: transparent;
        border-radius: 5px;
        color: white;
    }
    .select-father {
        background-color: var(--male-body);
    }
    .select-mother {
        background-color: var(--dogwood-rose);
    }
    .mobile-btn {
        border-radius: 5px;
        border: transparent;
        padding: 8px;
    }
    .mobile-btn:hover {
        cursor: pointer;
    }
    .btn-close {
        background-color: var(--imperial-red);
    }
}

.hide {
    display: none;
}

.width-100 {
    width: 100%;
}